<footer class="text-center text-white" style="background-color: #f1f1f1;" >
    <!-- Grid container -->
    <div class="container pt-4">
      <!-- Section: Social media -->
      <section class="mb-6">
<div class="socialicons">

  <i class="devicon-facebook-plain colored"></i>
          

  <i class="devicon-linkedin-plain colored"></i>
          
          
  <i class="devicon-twitter-original colored"></i>
          
</div>
    </section>
    <!-- Section: Social media -->

  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-dark" href="vinesh.m()">Vinesh</a>
  </div>
  <!-- Copyright -->
</footer>