<div class="cardss">

    <figure class="snip1390">
        <img src="{{Testimonydata[0].imageurl}}" alt="profile-sample3" class="profile" />
        <figcaption>
          <h2>{{Testimonydata[0].name}}</h2>
          <h4>UX Design</h4>
          <blockquote>Dad buried in landslide! Jubilant throngs fill streets! Stunned father inconsolable - demands recount!</blockquote>
        </figcaption>
      </figure>
      <figure class="snip1390 hover"><img src="{{Testimonydata[1].imageurl}}" alt="profile-sample5" class="profile" />
        <figcaption>
          <h2>{{Testimonydata[1].name}}</h2>
          <h4>Accountant</h4>
          <blockquote>Wormwood : Calvin, how about you? Calvin : Hard to say ma'am. I think my cerebellum has just fused. </blockquote>
        </figcaption>
      </figure>
      <figure class="snip1390"><img src="{{Testimonydata[2].imageurl}}" alt="profile-sample6" class="profile" />
        <figcaption>
          <h2>{{Testimonydata[2].name}}</h2>
          <h4>Public Relations</h4>
          <blockquote>The strength to change what I can, the inability to accept what I can't and the incapacity to tell the difference.</blockquote>
        </figcaption>
      </figure>
</div>
