
    <nav class="navbar navbar-expand-lg navbar-light navbar-fixed-top" style="background-color: transparent;">
      <div>
        <a class="navbar-brand" routerLink="/samples">Samples</a>
        <a class="navbar-brand" routerLink="/contact">Contact</a>
        <a class="navbar-brand" routerLink="/about">About</a>
      </div>



        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

      </nav>
