<a style="color: rgb(146, 203, 22);" href="">vinesh.m()</a>

     <img class="img" [src]="myimage" data-aos="zoom-in-up" alt="" height="1000px" width="1680px">

     <div class="text"> <h1 >Hai there!</h1>
    <br>
    <h2 data-aos="fade-left">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br>
     sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad <br>
     minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex <br>
     ea commodo consequat."</h2>
    
    <button class="button" >Hire Me</button></div>
<app-services-section></app-services-section>
    <!-- data-aos="fade-right" -->

    <!-- data-aos="fade-right" -->
    <!--  data-aos="fade-left" -->

        
   


   
  



