          
    <div class="container">
        <h1 style="color: white; font-size: 70px; text-align: center;"  >Here's what I do</h1>

            <img class="myimage1" data-aos="fade-up-right" [src]="myimage1" alt="">
       
        <div class="skillicons">
            <p data-aos="fade-up-left">Skills and Tools</p>
            <div class="icons"data-aos="fade-up-left">
                <i class="devicon-angularjs-plain colored"></i>
                <i class="devicon-css3-plain colored"></i>
                <i class="devicon-nodejs-plain-wordmark colored"></i>
                <i class="devicon-express-original colored"></i>
                <i class="devicon-vscode-plain colored"></i>
                <i class="devicon-mongodb-plain colored"></i>
            </div>
            <div class="points" data-aos="fade-down-left">
                <ul>
                    <li>
Angular
                    </li>
                    <li>
                        Nodejs
                    </li>
                    <li>
                       Express
                    </li>
                    <li>
                        MongoDB
                    </li>
                </ul>
            </div>
        </div>
        </div>
<!-- <app-testimony-section></app-testimony-section> -->